<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<title>Rainy Day</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
<link rel="stylesheet" href="css/styles.css" type="text/css" />
