<html>

<head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="css/account.css" type="text/css" />
</head>

<header>
    <%  include ../partials/header %>
</header>


<body>
    <%- include ../partials/registration_user %>


    <div class="container">
        <h1>Account Settings</h1>
        <div class="row">
            <div class="col-md-6">
                <h4>Subscription:</h4>

                <p>Information about the subscription should go here.</p>

            </div>
            <div class="col-md-6">
                <h3>Charities:</h3>
                <h4>Preferences:</h4>
                <div class="charity-btn-group">
                    <h1>What kinds of charities are you interested in?</h1>
                    <span class="btn-charity" data-slider="comm">Community</span>
                    <span class="btn-charity" data-slider="poverty">Poverty</span>
                    <span class="btn-charity" data-slider="relief">Disaster Relief</span>
                    <span class="btn-charity">Equality</span>
                    <span class="btn-charity" data-slider="env">Environmental</span>
                    <span class="btn-charity">Misc.</span>
                </div>

                <div class="slider_group well">

                    <h4>Distribution</h4>

                    <div class="row slider-row">

                        <div id="env" class="hidden">
                            <label for="slider_env">Environment</label>
                            <input id="slider_env" class="slider" type="range" value="0">
                            <input id="env_actual" class="slider-actual" value="0" readonly>
                        </div>
                        <div id="comm" class="hidden">
                            <label for="slider_comm">Community</label>
                            <input id="slider_comm" class="slider" type="range" value="0">
                            <input id="comm_actual" class="slider-actual" slider="slider_comm" value="0" readonly>
                        </div>
                        <div id="poverty" class="hidden">
                            <label for="slider_poverty">Poverty</label>
                            <input id="slider_poverty" class="slider" type="range" value="0">
                            <input id="poverty_actual" class="slider-actual" slider="slider_poverty" value="0" readonly>
                        </div>
                        <div id="relief" class="hidden">
                            <label for="slider_relief">Disaster Relief</label>
                            <input id="slider_relief" class="slider" type="range" value="0">
                            <input id="relief_actual" class="slider-actual" slider="slider_relief" value="0" readonly>
                        </div>


                    </div>

                </div>

                <h4>Blacklist:</h4>
            </div>
            <button class="btn btn-primary">Save Changes</button>
        </div>


    </div>
  <footer>
        <% include ../partials/footer %>
    </footer>

</body>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="js/account.js"></script>
<script src="js/home.js"></script>

</html>