<!DOCTYPE html>
<html>
<head>
	<title>Rainy Day | Charities</title>
</head>
<body>
<% allcharities.forEach(function(charity){ %>
	<p>
	<%= charity.name %>, 
	<%= charity.description %>
	</p>
	<% }); %>
</body>
</html>
