<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
        <link rel="stylesheet" href="css/home.css" type="text/css" />

</head>

<body>
    <header>
        <% include ../partials/header %>
    </header>
    <%- include ../partials/registration_user %>
    <div id="hero">
        <div id="hero_content">
            <h1 style="display:inline;">We help your donations </h1>
            <h1 id="change_impact"> save lives.</h1>
            <div>
                <button class="btn btn-primary">Get Started</button>
                <a href="/charities"><button class="btn btn-primary">Explore Charities</button></a>
            </div>


        </div>
    </div>
    <hr>
    <div class="container">
        <div id="donor_carousel">
            <h2>Donors</h2>
            <!--TODO: Write a script to fetch potraits"-->
            <img src="http://placehold.it/75x75">
            <img src="http://placehold.it/75x75">
            <img src="http://placehold.it/75x75">
            <img src="http://placehold.it/75x75">
            <img src="http://placehold.it/75x75">

        </div>
        <hr>
        <div id="about_us">
            You like to donate. You're awesome because you do, but you don't know who to donate to? Not sure your money is really affecting anything? We can help.
        </div>
    </div>

</body>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="js/home.js"></script>


    <footer>
        <% include ../partials/footer %>
    </footer>

</body>

</html>